# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Local environment variables
.env

# Database or local storage
json.db

# Logs
*.log

# IDE / Editor files
.vscode/
.idea/
*.swp
